.hint {
  position: fixed;
  text-align: center;
  bottom: 40px;
  padding: 10px;
  left: 0px;
  width: 100%;
  background: #f0f0f0;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 32px;
  z-index: 500;
  display: none;
  pointer-events: none;
}

.hint kbd {
	font-family: inherit;
	display: inline-block;
	color: black;
	padding: 2px 3px 8px 3px;
	margin-bottom: 1em;
	font-size: 25px;
	border-radius: 3px;
	clear: both;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	background: #B6B6B6; /* Old browsers */
	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(left, 
					rgba(205,205,205,1) 0%,
					rgba(231,231,231,1) 30%,
					rgba(231,231,231,1) 100%
				); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, 
					color-stop(0%,rgba(205,205,205,1)),
					color-stop(30%,rgba(231,231,231,1)),
					color-stop(100%,rgba(231,231,231,1))
				); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, 
					rgba(205,205,205,1) 0%,
					rgba(231,231,231,1) 30%,
					rgba(231,231,231,1) 100%
				); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, 
					rgba(205,205,205,1) 0%,
					rgba(231,231,231,1) 30%,
					rgba(231,231,231,1) 100%
				); /* Opera11.10+ */
	background: -ms-linear-gradient(left, 
					rgba(205,205,205,1) 0%,
					rgba(231,231,231,1) 30%,
					rgba(231,231,231,1) 100%
				); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( 
					startColorstr='#cdcdcd', endColorstr='#e7e7e7',GradientType=1 
				); /* IE6-9 */
	background: linear-gradient(left, 
					rgba(205,205,205,1) 0%,
					rgba(231,231,231,1) 30%,
					rgba(231,231,231,1) 100%
				); /* W3C */
}
	
.hint	kbd span {
	display: block;
	padding: 7px 15px 5px 15px;
	border-radius: 2px;
	background: #CCC; /* Old browsers */
	background: rgb(231,231,231); /* Old browsers */
	background: -moz-linear-gradient(left, 
					rgba(231,231,231,1) 0%, 
					rgba(231,231,231,1) 70%, 
					rgba(205,205,205,1) 100%
				); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, 
					color-stop(0%,rgba(231,231,231,1)),
					color-stop(70%,rgba(231,231,231,1)),
					color-stop(100%,rgba(205,205,205,1))
				); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, 
					rgba(231,231,231,1) 0%,
					rgba(231,231,231,1) 70%,
					rgba(205,205,205,1) 100%
				); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, 
					rgba(231,231,231,1) 0%,
					rgba(231,231,231,1) 70%,
					rgba(205,205,205,1) 100%
				); /* Opera11.10+ */
	background: -ms-linear-gradient(left, 
					rgba(231,231,231,1) 0%,
					rgba(231,231,231,1) 70%,
					rgba(205,205,205,1) 100%
				); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( 
					startColorstr='#e7e7e7', endColorstr='#cdcdcd',GradientType=1
				); /* IE6-9 */
	background: linear-gradient(left, 
					rgba(231,231,231,1) 0%,
					rgba(231,231,231,1) 70%,
					rgba(205,205,205,1) 100%
				); /* W3C */
}
